<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pay with cash or card</h2>
                    <p>Con Mercado Liebre Cash, you have payments without interest with cash, debit, or credit card. With safety remaining our number one priority!</p>	
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Free shipping starting at $1.999</h2>
                    <p>Just by being registered with Mercado Liebre, you have free shipping in thousands of products. It's a benefit of Mercado Puntos.</p>	
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Protection from start to finish</h2>
                    <p>You don't like it? Return it! In Mercado Liebre, there's nothing you can't do, because you're always protected.</p>	
                </article>
            </div>
        </div>
    </div>
</footer>
<div class="sub-footer">
    <div class="container">
        <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>